// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Yangyu Chen <cyy@cyyself.name>
 */

#include "k1.dtsi"
#include "k1-pinctrl.dtsi"

/ {
	model = "Banana Pi BPI-F3";
	compatible = "bananapi,bpi-f3", "spacemit,k1";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0";
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "sys-led";
			gpios = <&gpio K1_GPIO(96) GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};

	usb3_vhub: regulator-vhub-5v {
		compatible = "regulator-fixed";
		regulator-name = "USB30_VHUB";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio K1_GPIO(123) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	usb3_vbus: regulator-vbus-5v {
		compatible = "regulator-fixed";
		regulator-name = "USB30_VBUS";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		gpio = <&gpio K1_GPIO(97) GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&emmc {
	bus-width = <8>;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sdio;
	no-sd;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_2_cfg>;
	status = "okay";
};

&usbphy2 {
	status = "okay";
};

&combphy {
	status = "okay";
};

&usb_dwc3 {
	dr_mode = "host";
	vbus-supply = <&usb3_vbus>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	hub_2_0: hub@1 {
		compatible = "usb2109,2817";
		reg = <0x1>;
		vdd-supply = <&usb3_vhub>;
		peer-hub = <&hub_3_0>;
		reset-gpios = <&gpio K1_GPIO(124) GPIO_ACTIVE_LOW>;
	};

	hub_3_0: hub@2 {
		compatible = "usb2109,817";
		reg = <0x2>;
		vdd-supply = <&usb3_vhub>;
		peer-hub = <&hub_2_0>;
		reset-gpios = <&gpio K1_GPIO(124) GPIO_ACTIVE_LOW>;
	};
};
