// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (c) 2024 Yixun Lan <dlan@gentoo.org>
 */

#include <dt-bindings/gpio/gpio.h>

#define K1_PADCONF(pin, func) (((pin) << 16) | (func))

/* Map GPIO pin to each bank's <index, offset> */
#define K1_GPIO(x)	(x / 32) (x % 32)

&pinctrl {
	uart0_2_cfg: uart0-2-cfg {
		uart0-2-pins {
			pinmux = <K1_PADCONF(68, 2)>,
				 <K1_PADCONF(69, 2)>;

			bias-pull-up = <0>;
			drive-strength = <32>;
		};
	};

	i2c2_0_cfg: i2c2-0-cfg {
		i2c2-0-pins {
			pinmux = <K1_PADCONF(84, 4)>,
				 <K1_PADCONF(85, 4)>;

			bias-pull-up = <0>;
			drive-strength = <11>;
		};
	};

	/* TODO spi3, refer to v6.13 vendor tree */
	/*
	 *	K1X_PADCONF(GPIO_75, MUX_MODE2, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	ssp3_sclk
	 *	K1X_PADCONF(GPIO_76, MUX_MODE2, (EDGE_NONE | PULL_UP  | PAD_3V_DS4))	ssp3_frm
	 *	K1X_PADCONF(GPIO_77, MUX_MODE2, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	ssp3_txd
	 *	K1X_PADCONF(GPIO_78, MUX_MODE2, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	ssp3_rxd
	 */
	ssp3_0_cfg: ssp3-0-cfg {
		/* pull disabled: sclk, txd, rxd */
		ssp3-0-no-pull-pins {
			pinmux = <K1_PADCONF(75, 2)>,    /* ssp3_sclk */
				 <K1_PADCONF(77, 2)>,    /* ssp3_txd  */
				 <K1_PADCONF(78, 2)>;    /* ssp3_rxd  */

			bias-disable;                    /* pull_dis */
			drive-strength = <19>;           /* 3V_DS4 */
			power-source = <3300>;           /* external power supply */
		};
		/* pull up: frm */
		ssp3-0-frm-pins {
			pinmux = <K1_PADCONF(76, 2)>;    /* ssp3_frm */
			bias-pull-up = <0>;              /* normal pull-up */
			drive-strength = <19>;           /* 3V_DS4 */
			power-source = <3300>;           /* external power supply */
		};
	};

	/* TODO qspi, refer to v6.13 vendor tree */
	/*
	 * 	K1X_PADCONF(QSPI_DAT3, MUX_MODE0, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	 qspi_d3
	 * 	K1X_PADCONF(QSPI_DAT2, MUX_MODE0, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	 qspi_d2
	 * 	K1X_PADCONF(QSPI_DAT1, MUX_MODE0, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	 qspi_d1
	 *	K1X_PADCONF(QSPI_DAT0, MUX_MODE0, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	 qspi_d0
	 * 	K1X_PADCONF(QSPI_CLK,  MUX_MODE0, (EDGE_NONE | PULL_DIS | PAD_3V_DS4))	 qspi_clk
	 * 	K1X_PADCONF(QSPI_CSI,  MUX_MODE0, (EDGE_NONE | PULL_UP  | PAD_3V_DS4))	 qspi_cs
	 * PINCTRL_PIN(98,  "GPIO_98/QSPI_DAT3"),
	 * PINCTRL_PIN(99,  "GPIO_99/QSPI_DAT2"),
	 * PINCTRL_PIN(100, "GPIO_100/QSPI_DAT1"),
	 * PINCTRL_PIN(101, "GPIO_101/QSPI_DAT0"),
	 * PINCTRL_PIN(102, "GPIO_102/QSPI_CLK"),
	 * PINCTRL_PIN(103, "GPIO_103/QSPI_CS1"),
	 */
	qspi_cfg: qspi-cfg {
		/* pull disabled: d3, d2, d1, d0, clk */
		qspi-no-pull-pins {
			pinmux = <K1_PADCONF(98, 0)>,    /* qspi_d3 */
				 <K1_PADCONF(99, 0)>,    /* qspi_d2 */
				 <K1_PADCONF(100, 0)>,   /* qspi_d1 */
				 <K1_PADCONF(101, 0)>,   /* qspi_d0 */
				 <K1_PADCONF(102, 0)>;   /* qspi_clk */

			bias-disable;                    /* pull_dis */
			drive-strength = <19>;           /* 3V_DS4 */
			power-source = <3300>;           /* external power supply */
		};
		/* pull up: cs1 */
		qspi-cs1-pins {
			pinmux = <K1_PADCONF(103, 0)>;   /* qspi_cs1 */
			bias-pull-up = <0>;              /* normal pull-up */
			drive-strength = <19>;           /* 3V_DS4 */
			power-source = <3300>;           /* external power supply */
		};
	};
};
